@import "@/styles/variable.scss";
#login {
    background-color: #F6F6F6;
    .box{
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        
        .box-title{
            flex: 1;
            text-align: center;
        }
        .sub-title{
            text-align: left;
        }
        .inp{
            margin: 10px 0px;
        }
        .footer{
       
            display: flex;
            justify-content: center;
            align-items: center;
            .left{
                flex: 1;
                margin-right: 30px;
            }
            .right{
                flex: 1;
            }
        }
    }
}
.btn {
    text-align: center;
    padding: 15px 0;
    background-color: #ffffff;
}

#login /deep/ {}