@import "@/styles/variable.scss";

#payInfo {
  padding: 20px;
  background-image: linear-gradient(180deg, #FFC700, #f0f0f0 100%);
  height: 100vh;

  .address {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .address-title {
      flex: 1;
    }

    .address-info {
      flex: 1;
      .address-title{
     
        .address-top{
          font-size: 20px;
          margin-bottom: 5px;
        }
        .address-content{

          font-size: 14px;
          color: #666;
          span{
            margin-right: 10px;
          }
        }
      }
    }
  }

  .goods {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;


    .goods-item {
      display: flex;

      .left {
        .img {
          width: 75px;
          height: 75px;
          border-radius: 5px;

        }
      }

      .center {
        flex: 1;
        display: flex;
        margin-left: 10px;
        flex-direction: column;

        .center-top {
          font-size: 15px;
          font-weight: bold;
          margin: 10px 0;
        }

        .center-footer {}
      }

      .right {
        font-size: 28rpx;
        font-weight: bold;
        color: #f66;
        display: flex;
        justify-content: center;
        align-self: center;


      }
    }



  }

  .center-box {
    border-radius: 4px;
    overflow: hidden;
  }

  .f-tool {
    position: fixed;
    z-index: 20;
    box-shadow: 1px 2px 20px 5px rgba($color: #000000, $alpha: 0.3);
    bottom: 30px;
    max-width: 80%;
    width: 80%;
    background-color: #333333;
    color: #fff;
    display: flex;
    align-items: stretch;
    border-radius: 25px;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    .price {
      flex: 1;
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
    }

    .btn {
      background: linear-gradient(90deg, rgba(255, 207, 89, 1) 0%, rgba(254, 184, 28, 1) 100%);
      font-size: 16px;
      padding: 15px;
      display: flex;
      align-items: center;
      line-height: normal;
    }
  }
  #select {
    background-color: #f6f6f6;

    .list {
      .item {
        background-color: white;
        margin-bottom: 10px;
        padding: 5px 10px;
  
        .item-top {
          padding: 5px 0;
          display: flex;
          align-items: center;
  
          span {
            margin-right: 5px;
          }
  
          .tags {
            background-color: #FFC700;
          }
        }
  
        .item-center {
          font-size: 12px;
          color: #707070;
          padding-bottom: 10px;
        }
  
        .item-footer {
          display: flex;
          align-items: center;
          border-top: 0.5px solid #f6f6f6;
          padding: 5px 0;
  
          .footer-left {
            font-size: 13px;
            padding: 3px 12px;
            background-color: #999999;
            border-radius: 12px;
            color: #F5F5F5;
  
            &.btn-color {
              background-color: #E10004 !important;
            }
          }
  
          .footer-right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
  
            .operate {
              display: flex;
              font-size: 13px;
              align-items: center;
              margin-left: 7px;
              color: #707070;
            }
          }
        }
      }
    }
  
  }
}

#payInfo /deep/ {}
