@import "@/styles/variable.scss";
#list {
    background-color: #F6F6F6;
}

.p-list {
    background-color: #fff;
    padding: 15px 15px;
    .info-btn {
        display: flex;
        .num {
            font-size: 14px;
            flex: 1;
        }
    }
    .message {
        font-size: 14px;
        color: #5CB85C;
        margin-top: 10px;
    }
    .message1 {
        font-size: 14px;
        color: #F0AD4E;
        margin-top: 10px;
    }
    .message2 {
        font-size: 14px;
        color: #D9534F;
        margin-top: 10px;
    }
}

#list /deep/ {}