@import "@/styles/variable.scss";
#get {
    padding: $page-padding;
}

#get /deep/ {
    background-image: url("~static/images/couponGetBg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    #head {
        margin: 50px auto 90px;
        display: block;
    }
    #main {
        background: #fff;
        padding: 20px 0 45px;
        #coupon {
            position: relative;
            .couponBg {
                width: 100%;
            }
            .text-box {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                color: #fff;
                text-align: center;
                // background: rgba($color: #000, $alpha: 0.5);
                .title {
                    font-size: 18px;
                    padding-top: 5%;
                }
                .value_zen {
                    font-size: 48px;
                    padding: 2.5% 0;
                }
                .condition_value {
                    font-size: 16px;
                }
                .time {
                    color: #6d7278;
                    font-size: 14px;
                    padding: 10%;
                }
            }
        }
        #qrcode {
            margin-top: 33px;
            display: flex;
            justify-content: center;
        }
    }
}
