@import "@/styles/variable.scss";


.ol-store-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 10px;
    padding-right: 0;

    .store-tag {
        border: solid 1px #f2826a;
        color: #f2826a;
        font-size: 11px;
        border-radius: 4px;
        line-height: 1;
        padding: 1px 2px;
        margin-right: 5px;
        margin-bottom: 5px;
        max-width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }

    .brand-tag {
        //门店的推广标签 
        // 0:无
        // 1:品牌
        // 2:星选
        // 3:推荐
        // 4:火爆
        // 5:品质


        font-size: 11px;
        padding: 4px 5px;
        display: inline-block;
        border-radius: 4px;
        line-height: 1;
        font-weight: bold;
        white-space: nowrap;
        margin-right: 10px;

        &.t1 {
            color: #6F3F15;
            background-color: #fed363;
        }

        &.t2 {
            // 
            background-color: rgb(151, 150, 237);
            color: #fff;
        }

        &.t3 {
            background-color: rgb(88, 213, 152);
            color: #fff;
        }

        &.t4 {
            background-color: #fa5a57;
            color: #fff;
        }

        &.t5 {
            background-color: rgb(84, 226, 226);
            color: #fff;
        }
    }

    .top-box {
        display: flex;

        .left-box {
            margin-right: 10px;

            .img-box {
                $size: 20vw;
                max-width: $size;
                min-width: $size;
                max-height: $size;
                min-height: $size;
                position: relative;

                .tag {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    color: rgba($color: #fff, $alpha: 0.8);
                    text-align: center;
                    font-size: 12px;
                }
            }
        }

        .center-box {
            flex: 1;
            position: relative;
            overflow: hidden;

            .cell {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                overflow: hidden;
                font-size: 12px;
                color: #666;
                line-height: 1;
                padding: 2px 0;

                div {
                    margin-right: 5px;
                }

            }

            .tag-cell {
                flex-wrap: wrap;


            }

            .title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
            }

            .stars {}

            .fraction {}

            .sales_volume {
                white-space: nowrap;
            }

            .distance {
                white-space: nowrap;
                flex: 1;
                text-align: right;
                padding-right: 10px;
            }

            .store_class {
                display: inline-block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }




    }

    .goods-panel {
        padding-top: 20px;
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        $distance: 22vw;
        padding-left: $distance;


        .goods-card {
            margin-right: 5px;

            &:nth-child(3) {
                padding-right: $distance;
            }

            .goods-img-box {}

            .goods-title {
                font-size: 13px;
                max-width: 30vw;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                text-overflow: ellipsis;
                line-height: 1;
            }

            .goods-price {
                color: #f2826a;
                font-size: 12px;
            }
        }
    }
}

.ol-store-card /deep/ {}