@import "@/styles/variable.scss";

#goodsList {
  background-color: #f6f6f6;

  display: flex;
  flex-direction: column;

  .head {
    .head-title {
      position: relative;
      $height: 125px;
      text-align: center;
      background-color: white;

      .head-bg {
        width: 100%;
        height: 125px;
        position: absolute;
        left: 0;
        top: 0;
      }

      .store-info {
        position: relative;
        z-index: 10;
        left: 0;
        right: 0;
        padding-top: 83px;

        .img {
          height: 80px;
          width: 80px;
        }

        .name {}

        .tag {
          padding-bottom: 10px;
        }
      }
    }

  }

  .tabs {
    flex: 1;

    .panel {
      display: flex;


      .class-list {
        width: 80px;


        background-color: #f6f6f6;

        .class-item {
          padding: 25px 5px;
          box-sizing: border-box;

          font-size: 12px;
          text-align: center;

          &.active {
            background-color: #fff;
          }
        }
      }

      .goods-list {
        padding: 15px 5px 80px 15px;
        flex: 1;


        background-color: #ffffff;

        .goods-item {
          position: relative;
          display: flex;
          padding: 0 0 20px 0;

          .left {
            .img {
              width: 75px;
              height: 75px;
              border-radius: 5px;

            }
          }

          .center {
            flex: 1;
            display: flex;
            margin-left: 10px;
            flex-direction: column;

            .center-top {
              font-size: 15px;
              font-weight: bold;
              margin: 5px 0;
            }

            .center-footer {


              font-weight: bold;
              display: flex;
              align-items: center;

              .old {
                color: grey;
                font-size: 11px;
                margin-right: 5px;
              }

              .new {

                color: #f66;
                font-size: 14px;
              }
            }

            .right {
              margin-top: 2px;
              display: flex;
              justify-content: flex-end;

              .van-stepper__input {
                width: 0;
              }

              .stepper {
                width: 100px;
                border-radius: 100%;
              }

            }

          }


          .van-stepper__plus {
            border-radius: 100% !important;
          }
        }
      }

      .f-tool {
        position: fixed;
        z-index: 20;
        box-shadow: 1px 2px 20px 5px rgba($color: #000000, $alpha: 0.3);
        bottom: 60px;
        max-width: 80%;
        width: 80%;
        background-color: #333333;
        color: #fff;
        display: flex;
        align-items: stretch;
        border-radius: 25px;
        overflow: hidden;
        white-space: nowrap;
        flex-wrap: nowrap;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        .price {
          flex: 1;
          padding: 5px;
          font-size: 12px;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;

          .left {
            flex: 1;

            .top {
              color: grey;
            }
            .bottom{
              font-size: 14px;
            }
          }

          .right {
            flex: 1;
          }
        }

        .btn {
          background: linear-gradient(90deg, rgba(255, 207, 89, 1) 0%, rgba(254, 184, 28, 1) 100%);
          font-size: 16px;
          padding: 15px;
          display: flex;
          align-items: center;
          line-height: normal;
        }

        .btn1 {
          color: grey;
          font-size: 14px;
          padding: 15px;
          display: flex;
          align-items: center;
          line-height: normal;

        }
      }
    }

    .panel-store {
      .store-img {
        padding: 20px;
        margin-bottom: 10px;
        background-color: white;

        .store-title {
          font-size: 14px;
          margin-bottom: 5px;
        }

        .store-imgs {
          img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
          }
        }

        .store-content {
          font-size: 12px;
        }
      }

      .store-info {
        margin-bottom: 10px;

        .tag-box {
          padding: 0 10px;

          .tag {
            margin-left: 5px;
          }
        }

      }

      .store-qualification {}
    }
  }

  .position {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
  }


}

#goodsList /deep/ {}
