@import "@/styles/variable.scss";

#list {
  // padding: $page-padding;
  background: #FFF;

  #plus-btn {
    position: fixed;
    background: #FFC700;
    right: 20px;
    bottom: 70px;
    border: 2px solid #F6F6F6;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#list /deep/ {}