@import "@/styles/variable.scss";

#list {
  // padding: $page-padding;
  background: #FFF;
}

#list /deep/ {
  .dynamic-box {
    padding: 10px $page-padding;
    border-bottom: 1px solid #F6F6F6;
    display: flex;

    &-img {
      border-radius: 8px;
      overflow: hidden;
      background: white;
    }

    &-info {
      flex: 1;
      padding-left: 10px;
      font-size: 16px;

      &-name {
        font-weight: bold;
      }

      &-date {
        color: #707070;
        font-size: 12px;
      }

      &-text {
        padding: 5px 0;
      }

      &-img {
        .dynamic-list-img {
          margin-bottom: 5px;
          width: 100%;
          display: block;
          padding-bottom: 100%;
          background-size: cover;
          background-position: 50%;
        }
      }

      &-comment {
        display: flex;
        flex-direction: row;
        height: 50px;

        .left {
          flex: 1;
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;


          .dian {
            position: relative;
            flex: 1;
            display: flex;
            background-color: #F8F8F8;
            width: 40px;
            height: 26px;
            border-radius: 4px;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .circle {
              width: 4px;
              height: 4px;
              border-radius: 100%;
              background-color: #596F9A;
              margin: 0 2px;
            }

          

            .btn-box {
              display: flex;
              flex-direction: row;
              background-color: #2D2D2D;
              position: absolute;
              left: -42vw;
              transition: all 1s;
              color: white;
              border-radius: 4px;
              opacity: 1;
              .box {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 10px;
                position: relative;
                font-size: 14px;
            
                .left-margin {
                  margin-right: 2px;
                }

                .sanjiaoxing {
                  position: absolute;
                  left: 83px;
                  width: 0;
                  height: 0;
                  border-top: 8px dashed transparent;
                  border-bottom: 8px dashed transparent;
                  border-left: 8px solid #2D2D2D;


                }
              }


            }

            .active {

              width: 40vw;
            }

            .hidden {
                opacity: 0;
              width: 40vw;
            }
          }




        }
      }

    }

  }

  #plus-btn {
    position: fixed;
    background: #FFC700;
    right: 20px;
    bottom: 70px;
    border: 2px solid #F6F6F6;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
