@import "@/styles/variable.scss";

#home {
  // display: flex;
  // flex-direction: column;
  background-color: #ffffff;

  .search-box {
    padding: 10px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2000;

    .search-input {
      background-color: #EEEFF0;
      padding: 10px;
      border-radius: 25px;
      font-size: 11px;
      color: #666;
      box-shadow: 0 0 0 transparent;
      transition: all 0.3s;
    }

  }


  .home-body {
    position: relative;
    // padding-top: 60px;
    z-index: 1;
  }


}

#home /deep/ {}