@import "@/styles/variable.scss";

.ol-icon-nav {}

.ol-icon-nav /deep/ {

    .van-swipe__indicators {
        bottom: 12px !important;

        .van-swipe__indicator {
            width: 20px !important;
            border-radius: 0;
            height: 3px;
        }
    }

    .van-swipe-item {
        padding-bottom: 30px;
    }
    .van-grid-item__text{
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .van-grid-item__icon+.van-grid-item__text {
        margin-top: 4px;
    }
}