@import "@/styles/variable.scss";
#info {
    background-color: #F6F6F6;
}

.panel {
    margin-bottom: 15px;
    background-color: #fff;
    .panel-header {
        padding: 15px 15px;
        display: flex;
        align-items: center;
        .more {
            display: flex;
            font-size: 14px;
        }
        .panel-title {
            flex: 1;
            font-size: 18px;
        }
    }
    .panel-body {
        padding: 0px 15px;
        padding-bottom: 1px;
    }
}

.store {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    .store-head {
        text-align: center;
        img {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
    .store-info {
        display: flex;
        font-size: 14px;
        flex: 1;
        margin-left: 15px;
        align-items: center;
    }
    .go {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
}
.num {
    margin-bottom: 3px;
}

#info /deep/ {}