@import "@/styles/variable.scss";
#list {
    .order-list{
        display: flex;
        flex: 1;
    }
    .order-item{
        flex: 1;
        display: flex;
        flex-direction: column;
        .top{
            flex: 1;
            display: flex;
            flex-direction: row;
        }
        .center{

        }
        .right{

        }
    }
}

#list /deep/ {}