@import "@/styles/variable.scss";
#getEnd {
    padding: $page-padding;
}

#getEnd /deep/ {
    background-image: url("~static/images/couponGetEndBg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    #coupon-box{
        margin-top: 20%;
        padding: 0 10px;
        position: relative;
        &-img{
            width: 100%;
            display: block;
        }
        &-text{
            color: #F72F27;
            font-size: 48px;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 51%;
            font-weight: 600;
        }
    }
    .btn{
        color: #FFF;
        padding: 12px 60px;
        font-size: 22px;
        border: 0;
        border-radius: 50px;
        background:rgba(254,211,79,1) linear-gradient(180deg,rgba(255,147,30,1) 0%,rgba(251,117,35,1) 100%);
        margin: 7% auto 0;
        display: block;
    }
}