@import "@/styles/variable.scss";
#recharge {
    background-color: #F6F6F6;
}

.recharges {
    background-color: #fff;
    padding: 15px 20px;
    .recharges-money {
        font-size: 14px;
    }
    .r-icon {
        display: flex;
        margin-top: 10px;
    }
    .money {
        font-size: 30px;
    }
    .r-input {
        margin-left: 10px;
        border: 0;
    }
    .to-money {
        font-size: 14px;
    }
}

#recharge /deep/ {}