@import "@/styles/variable.scss";
#open {
    background-color: #F6F6F6;
}

.consum {
    background-color: #fff;
    .title {
        padding: 15px 15px;
        .dada {
            font-size: 16px;
        }
        .explain {
            font-size: 14px;
            color: #4BA4D5;
        }
    }
    .consum-info {
        padding: 0px 15px 15px 15px;
        .message {
            font-size: 14px;
        }
        .agreement {
            font-size: 14px;
            color: #4BA4D5;
        }
    }
}

.open-dada {
    padding-top: 15px;
}

.open-btn {
    margin-top: 15px;
}

#open /deep/ {}