@import "@/styles/variable.scss";

#prizedraw {
  background-image: linear-gradient(#FFB325, #FF5F18);
  // height: 100vh;
  padding-bottom: 10px;

  .go-back {
    position: absolute;
    top: 20px;
    left: 15px;
    padding: 3px 6px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
  }

  .bg {
    background-image: url('../../static/images/装饰@2x.png');
    background-repeat: no-repeat;
    background-position: 0% 35%;
    background-size: 100% 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .title-img {
      width: 90vw;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .rotator {
      width: 80vw;
      position: relative;

      .box {
        background-image: url('../../static/images/空心转盘@3x.png');
        background-position: center;
        background-size: 100% 100%;
        width: 100%;
        padding-bottom: 100%;
        display: flex;
        justify-content: center;

        &.transform {
          transition: all 3s;
        }

        .item {
          position: absolute;
          transform-origin: bottom;
          width: calc(100% / 3);
          height: 50%;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 25px;

          &:nth-child(2n) {
            color: #f00;
          }

          &:nth-child(odd) {
            color: #f00;
          }

          .title {
            font-weight: bold;
            width: 75%;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 5px;
          }
        }
      }

      .img {
        position: absolute;
        top: calc(50% - 110px);
        left: calc(50% - 100px);
        width: 200px;
        height: 200px;
      }
    }

    .tiems {
      font-weight: bold;
      padding-right: 20px;
      width: 100%;
      color: #fff;
      font-size: 12px;
      text-align: right;
    }

    .prize-logo {
      width: 45px;
      height: 55px;
      margin-bottom: 5px;
    }

    .prize-namelist {
      background-color: rgba($color: #FFBD07, $alpha: 0.5);
      padding: 5px 10px;
      border-radius: 5px;
      width: 70%;

      .title {
        text-align: center;
        color: #f00;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
      }

      .viewable {
        height: 80px;
        overflow: hidden;
      }

      .namelist-box {
        .item {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          font-weight: bold;
          color: #f00;
          margin-bottom: 3px;
        }
      }
    }

  }
}

.list-enter {
  opacity: 0;
}

.list-enter-active {
  transition: all 1s;
}

#prizedraw /deep/ {}
