@import "@/styles/variable.scss";
#edit {
    background-color: #F6F6F6;
}

.mini-set-title {
    padding: 15px 15px;
    font-size: 14px;
}

.wx-set-title {
    padding: 15px 15px;
    font-size: 14px;
}

#edit /deep/ {}